.players{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.players > .player1{
    padding: 3px 10px 0px 00px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 10px;
    color: var(--color-floral-white);
}

.players > .player2{
    padding: 3px 0px 0px 10px;
    font-weight: 400;
    font-size: 11px;
    line-height: 10px;
    color: var(--color-floral-white);
}