:root{
    --color-bg-card-shield: #051932;
    --color-bg-global: #7C5E99;
    --color-bg-card-linguage: #F25A70;
    --color-border-card: #EAE6DA;

    --color-floral-white: #FFFCEE;

    --color-versus-player: #F5D547;

    --color-bg-score: #828282;

    --color-green-ok: #62C370;
}