.box-score.player{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    transform: translateX(-40px);
    transition: transform 250ms ease-in-out;
}

.box-score.player[data-arrowPlayerNow="2"]{
    transform: translateX(40px);
}

.arrow-score{
    width: 20px;
    height: 15px;
}

.arrow-score > img{
    width: 100%;
    height: 100%;
}